*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    font-weight: 700;
    font-family: Inter;
}

.ul {
    display: flex;
    gap: 220px;
}

.logo {
    margin-top: -45px;
} 


.site-nav {
    width: 418px;
    height: 37px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    padding-left: 23px;
    padding-top: 7px;
    gap: 40px;
    margin-top: 25px;
}

.header {
    width: 100%;
    height: 775px;
    background-image: url('../images/hurling.jpg');
    background-size:100% 775px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    margin-bottom: 27px;
}

.Youtube {
    margin-top: 100px;
    margin-left: 675px;
}

.header__footer {
    margin-left: 211px;
    margin-top: 65px;
}

.header__footer {
    color: black;
}

.btn {
    width: 218px;
    height: 46px;
    background-color: #DB0A40;
    border-radius: 8px ;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 43px;
    cursor: pointer;
}

.br {
    margin-bottom: 4px;
}

.description {
    display: flex;
    gap: 40px;
}

.main {
    color: #000;
    margin-bottom: 154px;
}

.sport {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 19px;
}


.card-1 {
    background-image:linear-gradient(90deg, rgba(84,82,82,0.4318977591036415) 100%, rgba(37,90,106,1) 100%, rgba(9,98,121,1) 100%, rgba(0,212,255,1) 100%), url('../images/wrestling.webp');
    margin-left: 44.4px;
    background-size:cover;
    border-radius:8px;
    vertical-align: bottom;
}

.card-2 {
    background-image:linear-gradient(90deg, rgba(84,82,82,0.4318977591036415) 100%, rgba(37,90,106,1) 100%, rgba(9,98,121,1) 100%, rgba(0,212,255,1) 100%),url('../images/soapbox_racing.jpg');
    background-size:cover;
    border-radius:8px;
    vertical-align: bottom;
}

.card-3 {
    background-image:linear-gradient(90deg, rgba(84,82,82,0.4318977591036415) 100%, rgba(37,90,106,1) 100%, rgba(9,98,121,1) 100%, rgba(0,212,255,1) 100%),url('../images/Cheese_roling.jpg');
    background-size:cover;
    border-radius:8px;
    vertical-align: bottom;
}

.top__card {
    display: flex;
    gap: 20px;
}

.card__h3 {
    display: flex;
    text-align: end;
    justify-content: center;
    margin-bottom: 12px;
}


.card {
    color: white;
    padding-left: 12px;
    width: 419.889px;
    height: 232.828px;
}


.footer {
    padding-left: 75px;
    box-sizing: border-box;
    height: 471px;
    width: 100%;
    background: #00162B;
}

.instagramm {
    margin-left: 20px;
}

.call {
    display: flex;
    gap: 15px;
}

.youtube {
    border-radius: 8px;
}

.facebook {
    border-radius: 8px;
}